{% extends "base.html" %}

{% block content %}

<h3> CART HOME </h3>
{% if cart.products.exists %}
<table class="table cart-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Product Price</th>
       <th>Selected</th>
      <th>SubTotal</th>
     
    </tr>
  </thead>
  <tbody class='cart-body'>
    

      {% for product in cart.products.all %}
     
      <tr class='cart-product'>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href='{{ product.get_absolute_url}}'>{{product.name}}</a>     
          {% include 'carrinho/snippets/remove-product.html' with product_id=product.id  %}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.selected }}</td>
          <td>{{ product.quantidade}}</td>
    
        </tr>
        {% endfor %}
        <tr>
          <th colspan="3"></th>
          <td><b>Subotal = </b>  R$<span class='cart-subtotal'>{{cart.subtotal}}</span></td>
        </tr>
        <tr>
          <th colspan="3"></th>
          <td><b>Total = </b>  R$<span class='cart-total'>{{cart.total}}</span></td>
        </tr>
  </tbody>
</table>

<div class='cart-item-remove-form' style ='display:none'>
          {% include 'carrinho/snippets/remove-product.html' %}
</div>

{% else %}
     <p class='lead'> CART IS EMPTY</p>
{% endif %}

{% endblock content %}
