<!DOCTYPE html>
<html lang="br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
  </script>



  <title>Bootstrap Theme</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a href="index.html" class="navbar-brand">OCA Cursos de Mecânica Automotiva</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="navbarCollapse">
        <span class="navbar-toggle-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="index/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="about/" class="nav-link">Sobre Nós</a>
          </li>
          <li class="nav-item">
            <a href="cursos/" class="nav-link">Cursos</a>
          </li>
          <li class="nav-item">
            <a href="contact/" class="nav-link">Contato</a>
          </li>
          <li class="nav-item">
            <a href="blog/" class="nav-link">Nosso Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Entre em contato conosco</h1>
          <p>
            Será um prazer poder lhe ajudar !
          </p>
        </div>
      </div>
    </div>
  </header>
  <!-- Contato -->
  <section id="contact" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card p-4">
            <div class="card-body">
              <h4> Atendimento ao Cliente</h4>
              <p>Você pode tirar suas dúvidas pessoalmente na Central de Atendimento ao Consumidor, na sede de Niterói,
                de segunda à sexta, das 10:00 às 19:00.</p>
              <h4>Endereço</h4>
              <p>Rua Amaral Peixto, 550 9º Andar</p>
              <h4>Email:</h4>
              <p>ocacursos@gmail.com</p>
              <h4>Telefone:</h4>
              <p>(21)27167687 - (21)986576587 </p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card p-4">
            <div class="card-body">
              <h3 class="text-center"> Formulário de Contao</h3>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nome Completo">
                  </div>
                </div>


                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Telefone">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Escreva aqui sua mensagem ..."></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div type="submit" value="Submit" class="btn btn-outline-danger btn-block">
                          Enviar
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
<!-- Equipe-->
<section id="staff" class="py-5 text-center bg-dark text-white">
  <div class="container">
    <h1> Nossos "Titãs"</h1>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <img src="img/person1.jpg" alt="" class="img-fluid rounded-circle mb-2">
        <h4> Janete Silva</h4>
        <small> Diretora de Marketing</small>
      </div>
      <div class="col-md-3">
        <img src="img/person2.jpg" alt="" class="img-fluid rounded-circle mb-2">
        <h4> Sara Novaes</h4>
        <small> Diretora de Produção Digital</small>
      </div>
      <div class="col-md-3">
        <img src="img/person3.jpg" alt="" class="img-fluid rounded-circle mb-2">
        <h4> João Chaves</h4>
        <small> CEO - Fundador e Ex-Mecânico da Ferrary F1 </small>
      </div>
      <div class="col-md-3">
        <img src="img/person4.jpg" alt="" class="img-fluid rounded-circle mb-2">
        <h4> Jonas Augusto</h4>
        <small> Atendimento ao Cliente</small>
      </div>
    </div>
  </div>
</section>


  <!--Footer-->
  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright &copy; <span id="year"></span> OCA</p>
        </div>
      </div>
    </div>
  </footer>
  <script>
    // Ano
    $("#year").text(new Date().getFullYear());
  </script>
</body>

</html>