{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Base Template</title>
        {% include 'base/css.html'%} <!--informa o caminho do css -->
        {% block base_head %} 
        {% endblock base_head %}
    </head>
    <body>
                        
        {% include 'base/navbar.html' with nome_da_marca='Loja virtual' %} <!-- não pode ter espaço no nome do atributo  antes do igual nome_da_marca = .... -->
        {% block content %} 
        {% endblock %}
        {% include 'base/js.html'%} <!--informa o caminho do javascript-->
        
    </body>
</html>