{% load static %}
{% url 'home' as home_url %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <title>{% block titulo %}Loja Virtual{% endblock %}</title>
    <style>
        {% block estilo %}

        {% endblock %}
    </style>
</head>
<body class="barra">

          <nav class="navbar bg-dark navbar-dark navbar-expand-md">
       <div class="container">
          <a href="#" alt="logo" class="navbar-brand">
             
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
             <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="menu">
             <div class="navbar-nav mr-auto">
                <div class="dropdown">
                   <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                       Cadastrar
                   </a>
                   <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'products:cadastra_produto' %}">Curso</a>
                   </div>
                </div>
                <div class="dropdown">
                   <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                       Buscar Curso
                   </a>
                   <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'products:pesquisa_produto' %}">Produtos</a>
                   </div>
                </div>
                
                  <a class="nav-item nav-link " href="{{ home_url }}"">
                      <img src="{% static '/images/skin/logo.jpg' %}" width="5%"> GoToSite
                   </a>
                 
             </div>
          </div>
       </div>
    </nav>

    <br>

    <div class="container">
        {% block conteudo %}

        {% endblock %}
    </div>

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        $(document).ready(function(){
            {% block domready %}

            {% endblock %}
        });
    </script>
</body>
</html>
